.food {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #222831;
  gap: 10px;
}

.item {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 10px;
}

.item > div > h3 {
  margin-bottom: 5px;
}
