li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #222831;
}

h4 {
  margin-bottom: 4px;
}

.actions {
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  font-size: 16px;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #00adb5;
}

.btn:hover {
  background-color: #222831;
}
